# Test how to implement cross-validation in current setup

In [2]:
import pandas as pd
import seaborn as sns

from src.data import make_dataset

%matplotlib inline
sns.set()

In [3]:
data= make_dataset.get_raw_data()
data.head()

   Recency  Frequency  Amount  Times  Donation
0        2         50   12500     98         1
1        0         13    3250     28         1
2        1         16    4000     35         1
3        2         20    5000     45         1
4        1         24    6000     77         0